@CHARSET "UTF-8";

body {
	font-family: Arial;
	font-size: 14px;
	margin: 1px;
	//margin: 0;
	padding: 0;
}

#menuheader {
	z-index: 100;
/* 	background: #eeeeff; */
	position: fixed;
	width: 100%;
	height: 35px;
	top: 0;
}

#status {
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 25px;
}

#mainarea {
	margin-top: 45px;
	padding: 0;
}

.content {
	border: 1px solid blue;
}

#container {
	float: left;
}

img.centered { /*position: fixed;*/
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link,a:visited {
	display: block;
	width: 100px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover,a:active {
	background-color: #7A991A;
}

/* ul.egmenu { */
/* 	background: #444; */
/* 	top: 0px; */
/* 	width: 100%; */
/* 	height: 30px; */
/* } */

/* ul.egmenu>li { */
/* 	float: left; */
/* 	position: relative; */
/* } */

/* ul.egmenu ul { */
/* 	background: #444; */
/* 	display: none; */
/* 	position: absolute; */
/* 	left: 0; */
/* 	top: 100%; */
/* } */

/* ul.egmenu a { */
/* 	cursor: pointer; */
/* 	display: block; */
/* 	color: white; */
/* 	line-height: 30px; */
/* 	padding: 0 10px; */
/* } */

/* ul.egmenu li { */
/* 	list-style: none; */
/* } */

/* ul.egmenu li:hover { */
/* 	background: #555; */
/* } */

/* ul.egmenu li:hover ul { */
/* 	display: block; */
/* } */